%div.available-hosts
  = render "home/navbuttons"
  - if @visit.available_hostings(current_user).empty?
    = render 'empty_visits'
  - else
    %header
      %h1.hosts-heading Hosts near #{ @visit.city || @visit.location }
      %span Contact any good matches below
    %div.panel-group#accordion{ "role" => 'tablist', "aria-multiselectable" => 'true' }
      = render "hosts", visit: @visit
