FACEBOOK_KEY: '12345'
FACEBOOK_SECRET: 'abcde'
GOOGLE_CLIENT_ID: "TBD"
GOOGLE_CLIENT_SECRET: "TBD"
BING_GEOCODE_ID: "TBD"
SITEURL: 'www.hillarybnb.com'
MAILER_URL: 'www.hillarybnb.com'
BASE_DOMAIN: 'hillarybnb.com'
FB_CAPTION: 'Host a volunteer!'
CAUSE_NAME: 'Hillary Clinton'
MAILGUN_API_KEY:       "TBD"
MAILGUN_DOMAIN:        "TBD"
MAILGUN_PUBLIC_KEY:    "TBD"
MAILGUN_SMTP_LOGIN:    "TBD"
MAILGUN_SMTP_PASSWORD: "TBD"
MAILGUN_SMTP_PORT:     "587"
MAILGUN_SMTP_SERVER:   "smtp.mailgun.org"
DEFAULT_SENDER_ADDRESS: "someone@hillarybnb.com"
